.App {
  text-align: center;
  background: no-repeat url('./images/background-red-invert.png');
  background-position: left -150px;
  background-size: 100% 20%;
}

.App-logo {
  height: 150px;
}

.App-header {
  background-color: transparent;
  height: 150px;
  width: 1000px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: flex-start;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.content {
  display: flex;
  padding-left: 25px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.4);
}

.subcontent {
  margin: 0;
  padding: 25px;
  /* background-color: rgba(255, 255, 255, 0.4); */
}

.product-header {
  color: red;
  font-size: 3em;
  margin: 0 0 15px 0;
}

h2 {
  margin: 0;
}

.image-container {
  padding: 25px;
}

.content-img {
  object-fit: contain;
  width: 25vw;
}

.footer {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: no-repeat url('./images/background-blue.png');
  background-position: top;
  background-size: 100% auto;
  /* background-color: rgba(255, 255, 255, 0.3); */
}
.footer .info {
  margin: 0 auto;
  font-size: 1.5em;
  -webkit-flex: 0 1 50px;
  -ms-flex: 0 1 50px;
  flex: 0 0 50px;
  /* background-color: rgba(255, 255, 255, 0.4); */
}
.footer .contact {
  padding: 10px;
  flex: 1 0 auto;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.4);
}

.contact img {
  border: 1px solid lightgray;
  box-shadow: 2px 2px 5px #acf;
}

a, a:visited, a:hover, a:active  {
  color: red;
}

hr {
  width: 90%;
  margin: 50px auto;
}

.anchorlink {
  text-decoration: none;
  color: darkblue;
  font-weight: bold;
  cursor: pointer;
}

.image-button {
  cursor: pointer;
  height: 250px;
}

.video-player-container {
  
}

.video-toggle {
  margin: 25px;
  padding: 5px;
  font-size: 1.2em;
  font-family: Arial, sans-serif;
  background-color: rgb(100, 100, 100);
  border: 0 solid black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
